body {
    font-family: Arial, sans-serif;
    text-align: center;
    
  }
  
  .light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  .dark-mode {
    background-color: #000000;
    color: #ffffff;
  }
  
  #countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .countdown-item {
    font-size: 36px;
    margin: 0 10px;
  }
  
  #darkmode-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  